
header {
    background-image: url("http://coloradomoms.com/wp-content/uploads/2025/02/chocolate-dipped-fruit-platter.png");
background-position: center center;
background-size: cover;
}
#hero-text {
color: whitesmoke !important;
font-size: 72px;
text-shadow: 7px 7px 5px black;
}

header p {
color: greenyellow;
font-size: 24px;
font-weight: 750 !important;
text-shadow: 1px 1px 2px black;
}
header .btn {
background-color: green;
border-color:  white;
color: white; 

}
header .btn:hover {
background-color: brown;
border-color:  rgb(0, 0, 0);
color: maroon; 

}