
header {
    background-image: url("http://coloradomoms.com/wp-content/uploads/2025/02/chocolate-dipped-fruit-platter.png");
background-position: center center;
background-size: cover;
margin-top: 0px ;
}

